<!DOCTYPE html>

{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}

  <h1>SCHOOL DEATAILS</h1>
  <h4>
    <ul>
      <h3>School:</h3>
      <p><b>Name:</b> {{school_detail.name}}</p>
      <p><b>principal:</b> {{school_detail.principal}}</p>
      <p><b>Location:</b> {{school_detail.locations}}</p>
      <h3>Students:</h3>
      {% for student in school_detail.students.all %}
        <p>{{student.name}} who is {{student.age}} years old.</p>
      {% endfor %}
    </ul>
    <div class="container">
      <a class="btn btn-warning"  href="{% url 'basic_app:update' school_detail.pk %}">Update</a>
      <form action="{% url 'basic_app:delete' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
      </form>

    </div>
  </h4>

{% endblock %}
